* {
	text-align: center;
}

body {
	display: grid;
	grid-template-columns: auto;
	background-image: url('https://source.unsplash.com/collection/190727/1600x900');
	  /* Full height */
	  height: 100%; 

	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	
}

.heading {
	font-family: Arial;
	margin-top: 40vh;
	color: #ffff;
}

.URL-input,
.convert-button {
	font-size: 1.3em;
	padding: 5px 10px;
}

.URL-input {
	margin: auto;
	border-radius: 5px 5px 5px 5px;
	width: 25em;
	text-align: left;
	border: 2px solid #eeeeee;
	background: #eeeeee;
	outline: none;
}

.URL-input:focus {
	border: 2px solid #0485ff;
}

.convert-button {
	margin: 2% auto;
	border: 7px solid #0485ff;
	border-radius: 10px;
	background: #0485ff;
	color: white;
	transition: 0.15s;
	cursor: pointer ;
}

.convert-button:hover {
	background: #016acc;
	border-color: #016acc;
}

@media only screen and (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
	}

	.URL-input {
		margin: auto;
		width: 100%;
	}

	.convert-button {
		margin: 7% auto;
		width: 100%;
	}
}

.opt {
	width: 10vw;
	margin: 2% auto;
	padding: 4px;
	border-radius: 7%;
}